.menuMobile {
  display: none;
  position: absolute;
  height: 600px;
  top: 61px;
  border-radius: 0px 20px 20px 0px;
  padding: 50px 30px 0px 20px;
  z-index: 2000;
  border-right: 1px solid rgba(255, 255, 255, 0.233);
  border-bottom: 1px solid rgba(255, 255, 255, 0.185);
  overflow-x: hidden;
  color: var(--corLetras);
  background-color: var(--corFundo);
  animation: animaMenu .2s ease forwards;
}

@keyframes animaMenu {
  0% {
    width: 0px;
    opacity: 0;
  }

  100% {
    width: 230px;
    opacity: 1;
    box-shadow: 0px 0px 0px 100vh rgba(0, 0, 0, 0.527);
  }
}

@media (min-width: 700px) {
  .menuMobile {
    display: none !important;
  }
}